apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-app-deployment
  labels:
    app: ping-pong-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
      - name: ping-pong-app
        image: dxvann/ping-pong-app:2.1
        env:
          - name: PING_PONG_FILE_PATH
            value: "/app/count.txt"
        imagePullPolicy: Always
