apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-app-deployment
  labels:
    app: ping-pong-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      volumes:
          - name: shared-image
            persistentVolumeClaim:
              claimName: image-claim
      containers:
      - name: ping-pong-app
        image: dxvann/ping-pong-app:1.11
        env:
          - name: PING_PONG_FILE_PATH
            value: "/usr/src/app/files/count.txt"
        imagePullPolicy: Always
        volumeMounts:
          - name: shared-image
            mountPath: /usr/src/app/files