apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-app-deployment
  labels:
    app: log-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-app
  template:
    metadata:
      labels:
        app: log-app
    spec:
      volumes:
        - name: shared-image
          emptyDir: {}
      containers:
        - name: log-app-write
          image: dxvann/log-output-write:1.10
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files
        - name: log-app-read
          image: dxvann/log-output-read:1.10
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/files

        